
.galimag {

    margin: 1% 0%;
}

.galimag h2{

    margin: 2% 0%;
}

.img-gal{

    height: 20vw;
}

.galvideos{
    margin: 1% 0%;
}

.galvideos h2,h3{

    margin: 2% 0%;
}


.div-video{

    margin: 0% 0% 0% 20%;
}
